language: python
sudo: false
cache:
  apt: true
  directories:
    - $HOME/.cache/pip

python:
  - "3.5"

addons:
  postgresql: "9.6"
  apt:
# only add the two lines below if you need wkhtmltopdf for your tests
#    sources:
#      - pov-wkhtmltopdf
#    Search your sources alias here:
#      https://github.com/travis-ci/apt-source-whitelist/blob/master/ubuntu.json
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml  # because pip installation is slow
      - python-simplejson
      - python-serial
      - python-yaml
      - libcups2-dev # for aeroo
#     Search your packages here:
#       https://github.com/travis-ci/apt-package-whitelist/blob/master/ubuntu-precise
#      - wkhtmltopdf  # only add if needed and check the before_install section below

# set up an X server to run wkhtmltopdf.
#before_install:
#  - "export DISPLAY=:912.0"
#  - "sh -e /etc/init.d/xvfb start"

env:
  global:
  - VERSION="12.0" TESTS="0" LINT_CHECK="0" TRANSIFEX="0"
  - TRANSIFEX_USER='jjscarafia'
  # to get secure, run 'travis encrypt TRANSIFEX_PASSWORD=[transifex_password] -r [github_repo]'
  # example of github repo 'ingadhoc/odoo-infrastructure'
  - secure: Oja5enWH97E4XsZZ1UKzZpo8YtOoIUYZR9UNpl9CeDQ9/bzAIrGNbe5R51JZgcn5vSqBu8CS/X1NVzJDCHt5h6f/URrK0RxNCH+C3srRBS/6Z5OrghDU9cYRW0CIScxwwt1D/20VfS1UtY5/sa2TTpgquWGmCvdXt3zK5F0MVuaMg12sKFfXiENBYZkF9LSlR727R0FoL5KWkqpI7nk6wwBJiap5W/7bp+Wg1C52zP5g1f6qOg+KI4iCsslvfI6hmb5ZeY6kBuUh8lVeNjM51wCPjCX4PT5+8QD095RM6GPbbSwl0uRRtnuv8S/ldOt9DX6IhTu2oOmE+J5VDP1ROdRZ+l7lTA8uhtjty7JKwovO3H7rLm8/srmgO2H9WemOP5VIdtt9v2ZWSHrJZrbIIvej7KTGoCdf6k2ohK2PUJhDe01LwewFNULpNSWmwv+lvNtdy1ePks8JTUlMkTzFVSbx+f+9ylkKYI2xNFsSj4YN6FbEHg974mGb8f3GDq32059TgA0Vgzq7ULyh+15LFQbO0LBJL82vMYl5baETwWyKHOOIUcR/q5OaTZiMsWCIMiwEeh5+LDKaH1Je775qzopT+V8C5xtLPtO7TNaZmt7n9bniYix9kaBTgVeyIX/D3FGDvFY2xnVgrTV8898OCHoVJTsL1tTM3TqKEC/5MH4=
  - TRANSIFEX_ORGANIZATION='adhoc'
  - TRANSIFEX_TEAM='46451'

  matrix:
  # TODO enable lint check
  - LINT_CHECK="1"
  - TRANSIFEX="1"
  - TESTS="1" ODOO_REPO="odoo/odoo" 
# either use the two lines above or the two below. Don't change the default if
# it's not necessary (it is only necessary if modules in your repository can't
# be installed in the same database. And you get a huge speed penalty in your
# tests)
#  - TESTS="1.0" ODOO_REPO="OCA/OCB" UNIT_TEST="1"
#  - TESTS="1.0" ODOO_REPO="odoo/odoo" UNIT_TEST="1"


install:
  - git clone --depth=1 https://github.com/ingadhoc/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly

script:
  - travis_run_tests

after_success:
  # enable aeroo docs conversion
  - if [[ "${OCA_RUNBOT}" == "1" ]]; then psql openerp_test -c "INSERT INTO ir_config_parameter (key, value) VALUES ('aeroo.docs_host', 'runbot.adhoc.com.ar'), ('aeroo.docs_port', '8989'), ('aeroo.docs_enabled', 'True')"; fi
  - travis_after_tests_success
